Externo.Proxy/Service References/sieteMariasPrueba/ServicioSieteMarias1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Procesamiento.SieteM.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Procesamiento.SieteM.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSEntPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SEntPaciente" nillable="true" type="tns:SEntPaciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSEntPaciente" nillable="true" type="tns:ArrayOfSEntPaciente" />
  <xs:complexType name="SEntPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPaciente" type="xs:int" />
      <xs:element minOccurs="0" name="Latitud" type="xs:float" />
      <xs:element minOccurs="0" name="Longitud" type="xs:float" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SEntPaciente" nillable="true" type="tns:SEntPaciente" />
</xs:schema>