Externo.Proxy/Service References/ServCatalogos/Catalogos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicio.Procesos.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicio.Procesos.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntGrupos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntGrupos" nillable="true" type="tns:EntGrupos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntGrupos" nillable="true" type="tns:ArrayOfEntGrupos" />
  <xs:complexType name="EntGrupos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Consulta" type="xs:boolean" />
      <xs:element minOccurs="0" name="Ctrltotal" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descgpo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Modificacion" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntGrupos" nillable="true" type="tns:EntGrupos" />
</xs:schema>