Externo.Proxy/Service References/ServCatalogos/ServicioSieteMarias1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Servicios7M/ServicioSieteMarias.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Procesamiento.SieteM.Entidades" />
  <xs:element name="RegresaPacientesPorRuta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idruta" type="xs:int" />
        <xs:element minOccurs="0" name="idTransp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegresaPacientesPorRutaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Procesamiento.SieteM.Entidades" minOccurs="0" name="RegresaPacientesPorRutaResult" nillable="true" type="q1:ArrayOfSEntPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RPacientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RPacientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Procesamiento.SieteM.Entidades" minOccurs="0" name="RPacientesResult" nillable="true" type="q2:ArrayOfSEntPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>